{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}LogIn{% endblock title %}

{% block content %}

<div class="auth">
    <div class="contents">
        <h2 class="header">Login*</h2>

        <form action="" method="post" class="auth-form">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <div class="d-grid">
                <input class="btn btn-success w-100" type="submit" value="LogIn">
            </div>
        </form>
        <!-- <p>Don't have an account?<a href="{% url 'signup' %}">
            Click here to signup.</a></p> -->
        <a href="{% url 'password_reset' %}" class="password-reset">Forgot your password?</a>
    </div>
</div>

{% endblock content %}