{% extends 'base.html' %}
{%load crispy_forms_tags%}


{% block title %}SignUp{% endblock title %}

{% block content %}
<div class="auth">
    <div class="contents">
        <h2 class="header">SignUp*</h2>

        <form action="" method="post" class="auth-form">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <div class="d-grid">
                <input class="btn btn-success w-100" type="submit" value="SignUp">
            </div>
        </form>
    </div>
</div>

{% endblock content %}
