{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<p>Hi {{user.username}}.<br>You are {{user.age}} years old.</p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="LogOut">
</form> 
<br>
<p><a class="btn btn-primary" href="{% url 'article_list' %}" role="button">
    View all articles</a></p>
{% else %}
<p>You are not logged in!</p>
<a href="{% url 'login' %}">LogIn</a> |
<a href="{% url 'signup' %}">SignUp</a>
{% endif %}

{% endblock content %}